*.iml
*/target/*
*/target/*
*/.idea/*
.classpath
.project
.settings
.sts4-cache/
opt
.tfsignore
*/META-INF/*
/frvcc.misfacturas.ventas/.sts4-cache/
/frvcc.analytics/target/
/frvcc.analytics/target/
/frvcc.misfacturas/target/
/frvcc.misfacturas.app.console/target/
/frvcc.misfacturas.libros/target/
/frvcc.misfacturas.libros.rest/target/
/frvcc.misfacturas.rest/target/
/frvcc.misfacturas.ventas/target/
/frvcc.shared/target/
*.log
*.MF
application.properties
logback-spring.xml
/.idea/
